.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px 40px;
}

@media (max-width: 1230px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 10px;
  }
}


@media (max-width: 990px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 10px;
  }
}
